Localisation/Earth Addresser.console
Localisation/Earth Addresser~.ilocalize
*.xcodeproj/*.mode1v3
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspective
DerivedData/*
*.xcodeproj/DerivedData/*
*.xcodeproj/*.xcworkspace
*.xcodeproj/xcuserdata/*
